In [15]:
#!http://benalexkeen.com/splitting-data-for-machine-learning-with-scikit-learn/

In [2]:
from IPython.display import display, Math, Latex
display(Math(r'\ y_i = \begin{cases} 1 & \quad \text{if } X_0 + X_1 \leq 10 \\ 0 & \quad \text{otherwise } \end{cases} '))

In [3]:
import pandas as pd
import numpy as np

np.random.seed(10)
X = pd.DataFrame({
    'x_0': np.random.randint(1, 11, 20),
    'x_1': np.random.randint(1, 11, 20)
})
y = (X['x_0'] + X['x_1']).map(lambda x: 1 if x <= 10 else 0)

In [4]:
print(X.head())

   x_0  x_1
0   10    5
1    5    2
2    1    4
3    2    7
4   10    6

In [5]:
print(y.head())

0    0
1    1
2    1
3    1
4    0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [7]:
len(X_train)

15

In [8]:
len(y_train)

15

In [9]:
len(X_test)

5

In [10]:
len(y_test)

5

In [11]:
X_test

    x_0  x_1
3     2    7
16    7    9
6     2   10
10    9   10
2     1    4

In [13]:
y_test

3     1
16    0
6     0
10    0
2     1
dtype: int64