In [1]:
import pandas, io

In [2]:
data = io.StringIO('''Fruit,Color,Count,Price
Apple,Red,3,$1.29
Apple,Green,9,$0.99
Pear,Red,25,$2.59
Pear,Green,26,$2.79
Lime,Green,99,$0.39
''')
df_unindexed = pandas.read_csv(data)
df_unindexed

   Fruit  Color  Count  Price
0  Apple    Red      3  $1.29
1  Apple  Green      9  $0.99
2   Pear    Red     25  $2.59
3   Pear  Green     26  $2.79
4   Lime  Green     99  $0.39

In [3]:
df = df_unindexed.set_index(['Fruit', 'Color'])
df

             Count  Price
Fruit Color
Apple Red        3  $1.29
      Green      9  $0.99
Pear  Red       25  $2.59
      Green     26  $2.79
Lime  Green     99  $0.39

In [4]:
df.xs('Apple')

       Count  Price
Color
Red        3  $1.29
Green      9  $0.99

In [5]:
df.xs('Red', level='Color')

       Count  Price
Fruit
Apple      3  $1.29
Pear      25  $2.59

In [6]:
df.loc['Apple', :]

       Count  Price
Color
Red        3  $1.29
Green      9  $0.99

In [7]:
df.loc[('Apple', 'Red'), :]

Count        3
Price    $1.29
Name: (Apple, Red), dtype: object

In [8]:
df.loc[('Apple', ), :]

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:1310: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

       Count  Price
Color
Red        3  $1.29
Green      9  $0.99

In [9]:
df.sortlevel(inplace=True)

In [10]:
df

             Count  Price
Fruit Color
Apple Green      9  $0.99
      Red        3  $1.29
Lime  Green     99  $0.39
Pear  Green     26  $2.79
      Red       25  $2.59

In [11]:
df.loc[('Apple', ), :]

       Count  Price
Color
Green      9  $0.99
Red        3  $1.29

In [12]:
df.loc[slice('Apple', 'Apple'), :]

             Count  Price
Fruit Color
Apple Green      9  $0.99
      Red        3  $1.29

In [13]:
df.loc[slice('Lime', 'Pear'), :]

             Count  Price
Fruit Color
Lime  Green     99  $0.39
Pear  Green     26  $2.79
      Red       25  $2.59

In [14]:
df.loc[(slice('Apple', 'Apple'), slice(None)), :]

             Count  Price
Fruit Color
Apple Green      9  $0.99
      Red        3  $1.29

In [15]:
df.loc[(slice(None), slice('Red', 'Red')), :]

             Count  Price
Fruit Color
Apple Red        3  $1.29
Pear  Red       25  $2.59

In [16]:
idx = pandas.IndexSlice

df.loc[idx[:,['Red']], :]

             Count  Price
Fruit Color
Apple Red        3  $1.29
Pear  Red       25  $2.59

In [17]:
df.loc[idx['Lime':'Pear','Green'],:]

             Count  Price
Fruit Color
Lime  Green     99  $0.39
Pear  Green     26  $2.79

In [18]:
#http://pandas.pydata.org/pandas-docs/stable/advanced.html?highlight=indexslice#using-slicers